/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url("/static/images/fondilus.jpg");
    background-size: cover;
    background-position: center;
}

/* Header */
.header {
    color: white;
    padding: 5px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
}

.menu.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

.navbar ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.profile-dropdown {
    position: relative;
}

.profile-dropdown .profile-toggle {
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

.profile-dropdown .profile-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.profile-dropdown .profile-toggle .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-dropdown .profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 40px;
    border-radius: 5px;
}

.profile-dropdown .profile-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown .profile-dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.profile-dropdown:hover .profile-dropdown-content {
    display: block;
}

/* Contenedor */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

/* Estilos específicos para ilustraciones */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

/* Estilo para cada cuadro de imagen */
.imagen {
    flex: 1 1 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden; /* Asegura que el contenido de la imagen no se desborde */
}

/* Estilo para la imagen */
.imagen img {
    display: block;
    max-width: 100%;
    max-height: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
    height: auto;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilo para el título de la sección */
h2 {
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Estilos para los comentarios */
.comentarios {
    margin-top: 20px;
}

/* Estilo para el mensaje de "No hay comentarios" */
.no-comments {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f00;
    font-weight: bold;
    margin-top: 20px;
    background-color: rgba(255, 230, 230, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.no-comments i {
    font-size: 24px;
}

.no-comments p {
    margin: 0;
}

.no-comments:hover {
    background-color: rgba(255, 200, 200, 0.8);
}

/* Estilos para el formulario de comentarios */
.comentario-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comentario-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    box-sizing: border-box;
}

.comentario-form button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.comentario-form button:hover {
    background-color: #218838;
}

/* Footer */
footer {
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
